@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  max-width: 1900px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

html {
  font-family: "DM Sans";
  font-size: 15px;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  line-height: 1.667;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 100% !important;
}

.navlinks li {
  letter-spacing: 2px;
  font-size: 12px;
}

.arrowbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  border: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
}

.arrowbtn img {
  width: 50px !important;
  margin-left: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrowbtn.underline span {
  position: relative;
  letter-spacing: 1px;
}

.arrowbtn.underline span::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrowbtn.underline span:hover::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: inherit;
}

.arrowbtn.underline:hover img {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.arrowbtn.underline.black span:hover::after {
  background: black;
}

.arrowbtn.underline.white span:hover::after {
  background: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8vw;
  height: 72px;
  font-weight: 700;
  padding: 10px 0;
}

.header__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.header__navs ul.navlinks li:nth-of-type(1) {
  display: none;
}

.header__navs ul.navlinks li a {
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header__navs ul.navlinks li a:hover {
  color: black;
}

.header__navs ul.navlinks li a:hover::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: -5px;
  height: 1px;
  width: 80%;
  background: black;
}

.header__navs ul.navlinks li a::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 850px) {
  .header__navs {
    width: 230px;
  }
}

.header .arrowbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  letter-spacing: 2px;
  background-color: black;
  color: white;
}

.header .arrowbtn span {
  padding: 0 20px;
}

.header .arrowbtn img {
  display: none;
}

.header .arrowbtn:hover {
  background-color: #dedede;
  color: black;
}

.header .arrowbtn:action {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.header__mob, .header__mob--nav,
.header .overlay {
  display: none;
}

@media (max-width: 710px) {
  .header .arrowbtn, .header__navs {
    display: none;
  }
  .header__mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .header__mob > * {
    padding: 20px;
  }
  .header__mob--close {
    display: none;
  }
  .header__mob:hover {
    background-color: #dedede;
  }
  .header__mob.change .header__mob--open {
    display: block;
  }
  .header__mob.change .header__mob--close {
    display: none;
  }
  .header__mob--close.spin {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-transition: -webkit-transform 0.85s;
    transition: -webkit-transform 0.85s;
    transition: transform 0.85s;
    transition: transform 0.85s, -webkit-transform 0.85s;
  }
  .header__mob--nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100%;
    left: -8vw;
    width: calc(100% + 16vw);
    background-color: white;
    padding: 35px 15px !important;
    -webkit-transform: translateY(calc(-100% - 75px));
            transform: translateY(calc(-100% - 75px));
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    -webkit-transition-delay: 450ms;
            transition-delay: 450ms;
    z-index: 5;
  }
  .header__mob--nav ul.navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid;
  }
  .header__mob--nav ul.navlinks li {
    margin-bottom: 25px;
  }
  .header__mob--nav ul.navlinks li:first-of-type {
    display: none;
  }
  .header__mob--nav ul.navlinks li:last-of-type {
    margin-bottom: 0;
  }
  .header__mob--nav .arrowbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__mob--nav.deployed {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
  }
  .header .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 100%;
    left: -8vw;
    width: calc(100% + 16vw);
    height: 102vh;
    background-color: black;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    -webkit-transition: 0.55s;
    transition: 0.55s;
    -webkit-transition-delay: 450ms;
            transition-delay: 450ms;
    z-index: 3;
  }
  .header .overlay.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  background-color: black;
  color: white;
  padding: 60px 8vw;
  font-weight: 700;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  fill: white;
}

.footer__socials {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials:nth-child(1) img:hover {
  color: #3b5998;
}

.footer__socials:nth-child(2) img:hover {
  color: #ff0000;
}

.footer__socials:nth-child(3) img:hover {
  color: #00acee;
}

.footer__socials:nth-child(4) img:hover {
  color: #e60023;
}

.footer__socials:nth-child(5) img:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer .navlinks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.footer .navlinks li:hover {
  color: white;
}

.footer a.arrowbtn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
  justify-self: flex-end;
}

.footer__copyright {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  color: #dedede;
  text-align: right;
}

@media (max-width: 768px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }
  .footer__socials {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .footer .navlinks {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer a.arrowbtn {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .footer__copyright {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (max-width: 710px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials a i {
    font-size: 22px;
  }
  .footer .navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .footer .navlinks li {
    margin-bottom: 15px;
  }
  .footer .navlinks li:last-of-type {
    margin-bottom: 0;
  }
  .footer__copyright {
    text-align: center;
  }
}

.cta {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta__backdrop {
  width: 100%;
  max-width: 100%;
}

.cta__textbox {
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: calc(100% - 16vw);
}

.cta__textbox--heading {
  font-weight: normal;
  max-width: 40%;
}

@media (max-width: 800px) {
  .cta__textbox--heading {
    max-width: 55%;
  }
}

.cta::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to bottom, #ffc694, #bc7198, #5776ff);
}

@media (max-width: 600px) {
  .cta {
    max-height: 350px;
    overflow: hidden;
  }
  .cta__textbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__textbox--heading {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) and (max-width: 400px) {
  .cta__textbox--heading {
    font-size: 26px;
  }
}

@media (max-width: 600px) {
  .cta__textbox .arrow--btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 50px;
  }
  .cta::before {
    height: 5px;
    width: 200px;
    top: 0;
    left: 8vw;
    background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  }
}

.home__hero {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__hero__textbox {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  margin: 30px 0;
  padding: 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home__hero__textbox--context {
  margin: 15px 0 25px;
}

.home__hero__textbox::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to bottom, #ffc694, #bc7198, #5776ff);
}

.home__hero__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.home__hero__image__container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .home__hero {
    max-height: 525px;
  }
  .home__hero__textbox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .home__hero__image__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 570px) {
  .home__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-height: none;
  }
  .home__hero__textbox {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .home__hero__textbox::before {
    height: 3px;
    width: 100px;
    top: -30px;
    left: 5%;
    background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  }
}

.home__card__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__card__section__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 5%;
  margin: 30px 0;
}

.home__card__section__textbox--context {
  margin: 15px 0 35px;
}

.home__card__section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.home__card__section__image img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__card__section:nth-of-type(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .home__card__section {
    max-height: 525px;
  }
  .home__card__section__textbox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .home__card__section__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 570px) {
  .home__card__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-height: none;
  }
  .home__card__section:nth-of-type(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home__card__section__textbox {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.home__stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__stories .stories__thumbnail {
  width: calc(100% / 4);
}

@media (max-width: 900px) {
  .home__stories {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .home__stories .stories__thumbnail {
    width: 100%;
    max-height: 350px;
  }
  .home__stories .stories__thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 550px) {
  .home__stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 8vw;
}

.home__features .feature__card {
  width: calc(94% / 3);
}

@media (max-width: 900px) {
  .home__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .home__features .feature__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 80px;
  }
  .home__features .feature__card__icons {
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: white;
  }
  .home__features .feature__card__textbox {
    width: 60%;
    margin: auto;
  }
  .home__features .feature__card:last-of-type {
    margin-bottom: 0;
  }
  .home__features::after {
    content: "";
    position: absolute;
    height: 80%;
    width: 8px;
    background-color: #dedede;
    left: calc(20% - 4px);
    top: 10%;
    z-index: -1;
  }
}

@media (max-width: 550px) {
  .home__features::after {
    display: none;
  }
  .home__features .feature__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .home__features .feature__card__textbox {
    width: 100%;
  }
}

.stories__hero {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories__hero--backdrop {
  max-width: 100%;
  width: 100%;
}

.stories__hero__textbox {
  position: absolute;
  color: white;
  width: 30%;
  margin-left: 10%;
  z-index: 2;
}

.stories__hero__textbox span {
  font-size: 13px;
}

.stories__hero__textbox--featured {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.stories__hero__textbox--heading {
  margin: 30px 0 15px;
  font-size: 3em;
}

@media (max-width: 550px) {
  .stories__hero__textbox--heading {
    font-size: 2.25em;
  }
}

.stories__hero__textbox--date {
  color: #dedede;
  margin-right: 10px;
}

.stories__hero__textbox--synopsis {
  margin: 20px 0;
  color: #dedede;
}

.stories__hero__textbox .arrow--btn {
  color: white;
}

@media (max-width: 1200px) {
  .stories__hero__textbox {
    width: 55%;
  }
  .stories__hero__textbox--heading {
    margin-top: 15px;
  }
}

@media (max-width: 620px) {
  .stories__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories__hero--backdrop {
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .stories__hero__textbox {
    position: relative;
    background-color: black;
    width: 100%;
    margin-left: 0;
    padding: 50px 25px;
  }
  .stories__hero__textbox--heading {
    margin-bottom: 40px;
  }
}

.stories__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 850px) {
  .stories__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .stories__grid .story__thumbnail {
    max-height: 400px;
  }
  .stories__grid .story__thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 550px) {
  .stories__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stories__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.stories__card img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.stories__card__textbox {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: 10px;
  left: 0;
  z-index: 2;
}

.stories__card__textbox--title {
  letter-spacing: 1px;
  font-weight: normal;
}

.stories__card__textbox--linebreak {
  background-color: #dedede;
  margin: 20px 0 30px;
  border: 0;
  height: 1px;
}

.stories__card__textbox .arrow--btn {
  color: white;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  padding: 0 20px;
}

.stories__card__textbox .arrow--btn span {
  letter-spacing: 2px;
}

.stories__card::after {
  max-height: 0;
  content: "";
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  bottom: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stories__card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.stories__card:hover::after {
  max-height: 5px;
  height: 100%;
}

.features__hero {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__hero__textbox {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  margin: 30px 0;
  padding: 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.features__hero__textbox--context {
  margin: 15px 0 25px;
}

.features__hero__textbox::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to bottom, #ffc694, #bc7198, #5776ff);
}

.features__hero__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.features__hero__image__container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .features__hero {
    max-height: 525px;
  }
  .features__hero__textbox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .features__hero__image__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 570px) {
  .features__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-height: none;
  }
  .features__hero__textbox {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .features__hero__textbox::before {
    height: 3px;
    width: 100px;
    top: -30px;
    left: 5%;
    background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  }
}

.features__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(92% / 3))[3];
      grid-template-columns: repeat(3, calc(92% / 3));
  grid-row-gap: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 150px 8vw;
}

@media (max-width: 1060px) {
  .features__grid {
    -ms-grid-columns: (calc(90% / 2))[2];
        grid-template-columns: repeat(2, calc(90% / 2));
  }
}

@media (max-width: 615px) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-row-gap: 50px;
    margin: 100px 8vw;
  }
  .features__grid .feature__card__textbox {
    width: 85%;
    margin: 0 auto;
  }
}

.features__card {
  text-align: center;
  position: relative;
}

.features__card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
}

.features__card__textbox__title {
  margin: 15px 0;
}

.pricing__hero {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__hero__textbox {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  margin: 30px 0;
  padding: 0 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.pricing__hero__textbox--context {
  margin: 15px 0 25px;
}

.pricing__hero__textbox::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to bottom, #ffc694, #bc7198, #5776ff);
}

.pricing__hero__image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.pricing__hero__image__container img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .pricing__hero {
    max-height: 525px;
  }
  .pricing__hero__textbox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .pricing__hero__image__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 570px) {
  .pricing__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-height: none;
  }
  .pricing__hero__textbox {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pricing__hero__textbox::before {
    height: 3px;
    width: 100px;
    top: -30px;
    left: 5%;
    background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  }
}

.pricing__section {
  margin: 125px 8vw 225px;
}

.pricing__section__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 90px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.pricing__section__toggle--button {
  position: relative;
  width: 70px;
  height: 36px;
  border-radius: 50px;
  border: 0;
  margin: 0 60px;
  background-color: #dedede;
}

.pricing__section__toggle--button::after {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: black;
  top: 5px;
  left: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing__section__toggle--button.active::after {
  -webkit-transform: translateX(calc(100% + 7px));
          transform: translateX(calc(100% + 7px));
}

@media (max-width: 950px) {
  .pricing__section__toggle {
    margin-bottom: 45px;
  }
}

@media (max-width: 550px) {
  .pricing__section__toggle--button {
    height: 28px;
    margin: 0 40px;
  }
  .pricing__section__toggle--button::after {
    top: 4px;
    left: 4px;
    height: 20px;
    width: 20px;
  }
  .pricing__section__toggle--button.active::after {
    -webkit-transform: translateX(calc(100% + 22px));
            transform: translateX(calc(100% + 22px));
  }
}

@media (max-width: 400px) {
  .pricing__section__toggle--button {
    margin: 0 20px;
  }
}

.pricing__section__cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__section__cards__container .pricing__card {
  width: calc(95% / 3);
}

.pricing__section__cards__container .pricing__card:nth-of-type(2) {
  position: relative;
  margin: -30px 0;
  padding: 70px 30px;
}

.pricing__section__cards__container .pricing__card:nth-of-type(2)::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
  background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
}

@media (max-width: 950px) {
  .pricing__section__cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__section__cards__container .pricing__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% auto;
        grid-template-columns: 55% auto;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-row-gap: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }
  .pricing__section__cards__container .pricing__card--description, .pricing__section__cards__container .pricing__card--plan {
    text-align: left;
  }
  .pricing__section__cards__container .pricing__card--description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 0;
  }
  .pricing__section__cards__container .pricing__card__textbox {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 4 / 3;
    text-align: right;
    margin: 0;
  }
  .pricing__section__cards__container .pricing__card--button {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .pricing__section__cards__container .pricing__card:nth-of-type(2) {
    margin: 0 0 40px 0;
    padding: 40px 30px;
  }
  .pricing__section__cards__container .pricing__card:nth-of-type(2)::before {
    height: 100%;
    width: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to bottom, #ffc694, #bc7198, #5776ff);
  }
  .pricing__section__cards__container .pricing__card:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 570px) {
  .pricing__section__cards__container .pricing__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing__section__cards__container .pricing__card--description, .pricing__section__cards__container .pricing__card--plan, .pricing__section__cards__container .pricing__card__textbox {
    text-align: center;
  }
  .pricing__section__cards__container .pricing__card__textbox {
    margin: 20px 0;
  }
  .pricing__section__cards__container .pricing__card:nth-of-type(2)::before {
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(#ffc694), color-stop(#bc7198), to(#5776ff));
    background: linear-gradient(to right, #ffc694, #bc7198, #5776ff);
  }
}

.pricing____card {
  background-color: #dedede;
  padding: 40px 30px;
  text-align: center;
}

.pricing____card--description {
  margin-top: 20px;
}

.pricing____card__textbox {
  margin: 40px 0;
}

.pricing____card__textbox--price {
  letter-spacing: 5px;
  font-weight: normal;
}

.pricing____card--button {
  display: block;
  width: 100%;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 15px 0;
  border: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 3px;
}

.pricing____card--button:hover {
  background-color: #dedede;
  color: black;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.pricing____card--button:active {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

.pricing____card:nth-of-type(2) {
  background-color: black;
  color: white;
}

.pricing____card:nth-of-type(2) .pricing__card--description {
  color: #dedede;
}

.pricing____card:nth-of-type(2) button {
  background-color: white;
  color: black;
}

.pricing__table__container {
  margin: 100px 12vw 150px;
  text-transform: uppercase;
  max-width: 1700px;
}

.pricing__table__container .pricing__table__heading {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 50px;
  letter-spacing: 10px;
}

.pricing__table__container .pricing__table {
  font-size: 14px;
  letter-spacing: 2px;
}

.pricing__table__container .pricing__table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}

.pricing__table__container .pricing__table__row:nth-of-type(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.pricing__table__container .pricing__table__row--feature {
  width: 40%;
  padding-left: 15px;
}

.pricing__table__container .pricing__table__row--plans, .pricing__table__container .pricing__table__row--available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.pricing__table__container .pricing__table__row--plans li {
  text-align: center;
  width: calc(100% / 3);
}

.pricing__table__container .pricing__table__row--available li {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
}

.pricing__table__container .pricing__table__row--available li.checked {
  background-image: url(../assets/pricing/desktop/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .pricing__table__container {
    margin: -50px 8vw 150px;
  }
}

@media (max-width: 735px) {
  .pricing__table__container .pricing__table__heading {
    margin-bottom: 30px;
  }
  .pricing__table__container .pricing__table__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 0;
  }
  .pricing__table__container .pricing__table__row--feature, .pricing__table__container .pricing__table__row--available {
    width: 100%;
    padding-left: 0;
  }
  .pricing__table__container .pricing__table__row--available {
    height: 40px;
    margin-top: 15px;
  }
  .pricing__table__container .pricing__table__row--available li::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
  }
  .pricing__table__container .pricing__table__row--available li:nth-of-type(1)::before {
    content: "Basic";
  }
  .pricing__table__container .pricing__table__row--available li:nth-of-type(2)::before {
    content: "Pro";
  }
  .pricing__table__container .pricing__table__row--available li:nth-of-type(3)::before {
    content: "Business";
  }
  .pricing__table__container .pricing__table__row--available li.checked {
    background-position: left bottom;
  }
  .pricing__table__container .pricing__table__row--plans {
    display: none;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  max-width: 1900px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */