@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

body {
  max-width: 1900px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
